# Dependency directories
node_modules/

# Environment variables file
.env

# Log files
logs/
*.log

# Build files
dist/
build/

# Editor-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
